*, *::placeholder {
    font-family: 'Roboto', sans-serif;
}
body {
    background: linear-gradient(to top, #223038, #223038);
    color: #fff;
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100vh;
    /* width: 50%; */
    margin:auto;
    grid-template-columns: 1fr;
    padding: 0px 10%;
}

section {
    width: 100%;
}

section .form-wrapper {
    position: relative;
}

form {
    width: 100%;
    box-shadow: 0 0 10px 0.1px #00000069;
    background: #fff;
}

input {
    height: 4rem;
    padding: 10px 10px 0 10px;
    font-size: 105%;
    border: 1px solid #00000025;
    box-sizing: border-box;
}

div.haserror{
    border-bottom: 1px solid red;
    color: red;
}

input.validated:invalid ~ span::after, textarea.validated:invalid ~ span::after, div.haserror > span::after{
    content: '!';
    color: red;
    font-style: italic;
    font-weight: 700;
}

div.haserror > input, div.haserror > textarea{
    color: red;
}

input:not(#submit){
    width: 100%;
}

textarea {
    padding: 25px 10px 0 10px;
    border: 1px solid #00000025;
    resize: none;
    font-size: 105%;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.container-1 {
    display: grid;
    grid-template-columns: auto;
    background: #fff;
}

@media (min-width: 600px) {
    .container-1 {
        grid-template-columns: auto auto;
    }
}

.container-2 {
    display: grid;
    position: relative;
}

.container-2::before{
    content: '⋮';
    font-size: 150%;
    position: absolute;
    right: 10px;
    top: 1rem;
    color: #00000050;
    z-index: 1010;
}

.container-3 {
    text-align: right;
}

#submit {
    color: white;
    text-transform: uppercase;
    background: #D62139;
    border: none;
    padding: 0 50px;
    text-align: right;
    box-shadow: inset 0px 0px 5px 0px #00000050;
    cursor: pointer;
    transition: 0.2s ease all;
}

#submit:hover {
    background: #a4192b;
}

@media (max-width: 600px) {
    #submit {
        text-align: center;
        width: 100%;
    }
}

#intro {
    text-align: center;
    font-size: 1.5em;
}

@media (min-width: 600px) {
    #intro {
        font-size: 3rem;
    }
}


input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label,
textarea:focus ~ .floating-label,
textarea:not(:focus):valid ~ .floating-label,
div.hasError .floating-label {
    top: 8px;
    bottom: 10px;
    left: 10px;
    font-size: 0.75rem;

}

.floating-label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 20px;
    transition: 0.2s ease all;
    color: #00000050;
    font-size: 1rem;
    z-index: 1010;
}

.input-container {
    position: relative;
    display: grid;
}

.thankyou {
    display: grid;
    background: green;
    color: white;
    position: absolute;
    height: 100%;
    top: 0; right: 0px; bottom: 0; left: 0;
    opacity: 0;
    justify-items: center;
    align-items: center;
    text-align: center;
    transition: 0.2s ease all;
    z-index: -1;
}

.thankyou h1 {
    margin-bottom: 0;
}

.thankyou h3 {
    color: #ffffff50;
}

.thankyou.shown{
    opacity: 1;
    z-index: 1020;
}

#svg{
    background: white;
    padding: 1rem;
    clip-path: circle();
}